[Unit]
Description=SystemdServiceManager
After=network.target

[Service]
ExecStart=/home/pablo/projects/SystemdServiceManager/manage.py manage.py runserver
WorkingDirectory=/home/pablo/projects/SystemdServiceManager
Restart=always
User=systemdservicemanager
